<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>CORPS® does not use bluetooth. </string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>CORPS® does not use your location. </string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>CORPS® does not track your location. </string>
	<key>NSSiriUsageDescription</key>
	<string>CORPS® does not integrate Siri.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>CORPS® does not use speech recognition.</string>
	<key>NSMotionUsageDescription</key>
	<string>CORPS® does not track motion usage. </string>
	<key>NSAppleMusicUsageDescription</key>
	<string>CORPS® does not access Apple Music. </string>
	<key>NSContactsUsageDescription</key>
	<string>CORPS® does not access your contacts. </string>
	<key>NSCalendarsUsageDescription</key>
	<string>CORPS® accesses your calendar to display the corresponding events for the date. </string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>CORPS®</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CORPS®</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
		<string>https</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>CORPS® needs camera access to scan QR codes. </string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>CORPS® needs photo library access to save event tickets to your photo gallery.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
